.section {
  display: flex;
  flex-direction: column;
  max-width: 868px;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  border-radius: 2px;
  padding: 24px 1.5rem 60px;
  font-size: 1.2rem;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  gap: 0.8rem;
  margin-bottom: 24px;
}

.word::first-letter {
  font-size: 2.8rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.category {
  border: 2px solid #000000;
  border-radius: 0.5% 10% / 90% 3%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.2);
  padding: 1rem;
  transform: all 0.3s ease;
}

.category:hover {
  transform: scale(0.95);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
}

.category:active {
  animation: borderChange 1s ease;
}

@keyframes borderChange {
  0% {
    border-color: #ccc;
  }
  100% {
    border-color: #007bff;
  }
}

.loading {
  padding: 2rem;
}
